.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));

  /* flex-shrink: 0; */
  width: 100%;
  max-width: 100%;
  page-break-inside: avoid;
  /* height: 50pt;
padding-right: calc(var(--bs-gutter-x) * 0.5);
padding-left: calc(var(--bs-gutter-x) * 0.5);
margin-top: var(--bs-gutter-y); */
}

.hebrewverse {
  direction: rtl;
  text-align: left;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.break-before {
  page-break-after: avoid;
}

.col {
  flex: 1 0 0%;
}

.wordorig {
  width: auto;
  vertical-align: middle;
  display: flex;
  max-width: min-content;
}

.word {
  width: auto;
  vertical-align: middle;
  display: flex;
}

.maxwidth {
  max-width: max-content;
}

.minwidth {
  max-width: min-content;
}

.origword {
  text-align: center;
  font-size: 25pt;
  height: 30px;
}

.english {
  text-align: center;
  font-size: 8pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.translit {
  text-align: center;
  direction: ltr;
  font-size: 9pt;
  height: 25px;
}

.strong {
  text-align: center;
  font-size: 8pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  direction: ltr;
}

.morph {
  text-align: center;
  font-size: 8pt;
  direction: ltr;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.chapter {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  font-family: serif;
}