<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>
  <head>
    <!-- <link type="text/css" rel="stylesheet" href="book.css" /> -->
  </head>

  <style>
    .container,
    .container-fluid,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
    }

    .row {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--bs-gutter-y));
      margin-right: calc(-0.5 * var(--bs-gutter-x));
      margin-left: calc(-0.5 * var(--bs-gutter-x));

      /* flex-shrink: 0; */
      width: 100%;
      max-width: 100%;
      page-break-inside: avoid;
      /* height: 50pt;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y); */
    }

    .hebrewverse {
      direction: rtl;
      text-align: left;
    }

    .align-items-center {
      align-items: center !important;
    }

    .align-items-end {
      align-items: flex-end !important;
    }
    .break-before {
      page-break-after: avoid;
    }

    .col {
      flex: 1 0 0%;
    }

    .wordorig {
      width: auto;
      vertical-align: middle;
      display: flex;
      max-width: min-content;
    }

    .word {
      width: auto;
      vertical-align: middle;
      display: flex;
    }

    .maxwidth {
      max-width: max-content;
    }

    .minwidth {
      max-width: min-content;
    }

    .origword {
      text-align: center;
      font-size: 25pt;
      height: 30px;
    }

    .english {
      text-align: center;
      font-size: 8pt;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    .translit {
      text-align: center;
      direction: ltr;
      font-size: 12pt;
      height: 25px;
    }

    .strong {
      text-align: center;
      font-size: 8pt;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      direction: ltr;
    }

    .morph {
      text-align: center;
      font-size: 8pt;
      direction: ltr;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .chapter {
      text-align: center;
      font-size: 12pt;
      font-weight: bold;
      font-family: serif;
    }
    .booktitle {
      align-items: center;
      page-break-inside: avoid;
      page-break-before: always;
    }
    .book {
      text-align: center;
      font-size: 20pt;
      font-weight: bold;
      font-family: serif;
    }
  </style>

  <body>
    <div class="container">
      {% for bookname, verses in books %} {% for verse in verses %} {% if
      verse['verse'] == 1 and verse['chapter'] == 1 %}
      <div class="row booktitle">
        <div class="row" style="height: 20px"></div>
        <div class="row">
          <div class="col book">{{ bookname }}</div>
        </div>
        <div class="row" style="height: 10px"></div>
      </div>
      {% endif %} {% if verse['verse'] == 1 %}
      <div class="row break-before">
        <div class="row break-before" style="height: 15px"></div>
        <div class="row break-before">
          <div class="col chapter">CHAPTER {{ verse['chapter'] }}</div>
          <div class="col chapter">CHAPTER {{ verse['chapter'] }}</div>
        </div>
        <div class="row break-before" style="height: 15px"></div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col">
          <div class="row hebrewverse">
            <table class="word">
              <tr>
                <td class="translit"></td>
              </tr>
              <tr>
                <td class="english" style="font-weight: bold">
                  {{ verse['verse'] }}
                </td>
              </tr>
            </table>
            <table class="word">
              <tr>
                <td class="translit"></td>
              </tr>
              <tr>
                <td class="morph"></td>
              </tr>
            </table>
            {% for word in verse['words'] %}
            <table class="word">
              <tr>
                <td class="translit maxwidth">{{ word['translit'] }}</td>
              </tr>
              <tr>
                <td class="strong maxwidth">{{ word['strong'] }}</td>
              </tr>
              <tr>
                <td class="morph minwidth">{{ word['morph'] }}</td>
              </tr>
            </table>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          <div class="row hebrewverse">
            <table class="wordorig">
              <tr>
                <td class="origword"></td>
                <td></td>
              </tr>

              <tr>
                <td class="english" style="font-weight: bold">
                  {{ verse['verse'] }}
                </td>
              </tr>
            </table>
            <table class="wordorig">
              <tr>
                <td class="origword"></td>
              </tr>
              <tr>
                <td class="english"></td>
              </tr>
            </table>
            {% for word in verse['words'] %}
            <table class="wordorig">
              <tr>
                <td class="origword">{{ word['original']}}</td>
              </tr>
              <tr>
                <td class="english">{{ word['english'] }}</td>
              </tr>
            </table>
            {% endfor %}
          </div>
        </div>
      </div>

      {% endfor %} {% endfor %}
    </div>
  </body>
</html>
